<% content_for :subheader_title do %>
<%= @carrier.display_name %>
<% end %>
<% content_for :subheader_toolbar do %>

<div class="kt-subheader__toolbar">
  <div class="kt-subheader__wrapper">
    <ul class="nav nav-tabs nav-tabs-bold nav-tabs-line nav-tabs-line-brand m-0" role="tablist">
      <% @accounts.each do |account| %>
      <li class="nav-item">
        <a class="nav-link p-1" data-toggle="tab" href="#kt_portlet_tabs_1_<%= account.id %>_content" role="tab">
          <%= account.name %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>

<div class="tab-content">
  <% @accounts.each do |account| %>
  <% settings = account.send(@carrier.settings_field) %>
  <div class="tab-pane" id="kt_portlet_tabs_1_<%= account.id %>_content" role="tabpanel">

    <%= form_for :settings, url: "/accounts/#{account.id}/update_carrier_settings" do |f| %>

    <div class="row">
      <div class="col-md-8">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                Configurações gerais
              </h3>
            </div>
          </div>

          <div class="kt-portlet__body">
            <%= hidden_field_tag 'carrier_id', @carrier.id %>
            <%= f.fields_for 'general' do |ff| %>
            <div class="row">
              <% @carrier.settings['general'].each do |setting| %>
              <div class="col-md-4">
                <div class="form-group">
                  <%= ff.label setting %>
                  <%= ff.text_field setting, value: settings.dig('general',setting), class:'form-control' %>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div> <!-- Close portlet -->
      </div>
      <div class="col-md-4">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                Sincronização de pedidos
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-toolbar-wrapper">

              </div>
            </div>
          </div>

          <div class="kt-portlet__body" kt-hidden-height="163" style="">
            <div class="kt-portlet__content">
              <p>Enviar todos os pedidos com status "pronto para envio" para os Correios</p>
              <%= link_to "Enviar", "", class: "btn btn-secondary", method:'post' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <%= f.fields_for 'shipping_methods' do |ff| %>

      <!-- PAC Settings -->
      <%= ff.fields_for 'PAC' do |fff| %>
      <% pac_settings = settings.dig('shipping_methods','PAC') || {}  %>
      <div class="col-md-4">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                PAC
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-toolbar-wrapper">
                <%= link_to "/correios/#{account.id}/PAC/send_plp", class: "btn btn-light btn-elevate-hover btn-pill", method: :post do %>
                  <i class="flaticon2-rocket-2"></i> Disparar PLP
                <% end %>
              </div>
            </div>
          </div>

          <div class="kt-portlet__body" kt-hidden-height="163" style="">
            <div class="kt-portlet__content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= fff.label 'Qtd. mínima de etiquetas' %>
                    <%= fff.text_field :label_minimum_quantity, value: pac_settings['label_reorder_quantity'], class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= fff.label 'Qtd. de recompra' %>
                    <%= fff.text_field :label_reorder_quantity, value: pac_settings['label_reorder_quantity'], class: "form-control" %>
                  </div>
                </div>
              </div>

              <% if settings.dig('shipping_methods','PAC','ranges') %>
              <table class="table">
                <thead class="thead-light">
                  <th>Prefixo</th>
                  <th>Próxima</th>
                  <th>Última</th>
                  <th>Sufixo</th>
                  <th>Disponíveis</th>
                </thead>
                <% settings['shipping_methods']['PAC']['ranges'].each do |range| %>
                <tr>
                  <td><%= range['prefix'] %></td>
                  <td><%= range['next_number'] %></td>
                  <td><%= range['last_number'] %></td>
                  <td><%= range['sufix'] %></td>
                  <td><%= range['last_number'] - range['next_number'] + 1 %></td>
                </tr>
                <% end %>
                <tfoot>
                  <td colspan="4">Total</td>
                  <td><%= @carrier.count_available_labels(account,'PAC') %></td>
                </tfoot>
              </table>
              <% end %>
                <%= link_to "Solicitar faixa de etiquetas", "/correios/#{account.id}/PAC/", method: :post, class: "mb-1 btn btn-sm btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- END PAC Settings -->


      <!-- Sedex Settings -->
      <%= ff.fields_for 'Sedex' do |fff| %>
      <% pac_settings = settings.dig('shipping_methods','Sedex') || {}  %>
      <div class="col-md-4">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                Sedex
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-toolbar-wrapper">
                <%= link_to "/correios/#{account.id}/Sedex/send_plp", class: "btn btn-light btn-elevate-hover btn-pill", method: :post do %>
                  <i class="flaticon2-rocket-2"></i> Disparar PLP
                <% end %>
              </div>
            </div>
          </div>

          <div class="kt-portlet__body" kt-hidden-height="163" style="">
            <div class="kt-portlet__content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= fff.label 'Qtd. mínima de etiquetas' %>
                    <%= fff.text_field :label_minimum_quantity, value: pac_settings['label_minimum_quantity'], class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= fff.label 'Qtd. de recompra' %>
                    <%= fff.text_field :label_reorder_quantity, value: pac_settings['label_reorder_quantity'], class: "form-control" %>
                  </div>
                </div>
              </div>

              <% if settings.dig('shipping_methods','Sedex','ranges').present? %>
              <table class="table">
                <thead class="thead-light">
                  <th>Prefixo</th>
                  <th>Próxima</th>
                  <th>Última</th>
                  <th>Sufixo</th>
                  <th>Disponíveis</th>
                </thead>
                <% settings['shipping_methods']['Sedex']['ranges'].each do |range| %>
                <tr>
                  <td><%= range['prefix'] %></td>
                  <td><%= range['next_number'] %></td>
                  <td><%= range['last_number'] %></td>
                  <td><%= range['sufix'] %></td>
                  <td><%= range['last_number'] - range['next_number'] + 1 %></td>
                </tr>
                <% end %>
                <tfoot>
                  <td colspan="4">Total</td>
                  <td><%= @carrier.count_available_labels(account,'Sedex') %></td>
                </tfoot>
              </table>
              <% end %>
                <%= link_to "Solicitar faixa de etiquetas", "/correios/#{account.id}/Sedex/", method: :post, class: "mb-1 btn btn-sm btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- END Sedex Settings -->

      <% end %>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <%= f.submit "Salvar", class:"btn btn-primary" %>
        <%= link_to 'Voltar', :back, class:"btn btn-secondary", style: "background-color:#ffffff"  %>
      </div>
    </div>

    <% end %> <!-- Close form for |f| -->

  </div>
  <% end %> <!-- End @accounts.each |f| -->
</div> <!-- End tab-content div -->

<script>
$('.nav-link').first().addClass('active');
$('.tab-pane').first().addClass('active');
</script>
