<style>
.label {
  font-size: 20px;
  font-family: helvetica;
  padding: 25px;
  line-height: 1.3;
}
.address {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}
.mt20 {
  margin-top: 20px;
}

.package {
  text-align: right;
}

.sender-address li {
  font-size: 17px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

</style>

<div class="label">
  <% shipment = package.shipment %>
  <% total_packages = shipment.packages.size %>

  <div class="package">
    Pacote <%= shipment.packages.index(package) + 1 %>/<%= total_packages %><br>
  </div>

  <div class='text-center mt20'>
    <%= shipment.tracking_number %><br>
    <%= image_tag(Barby::Code128.new(shipment.tracking_number).to_image(xdim:2).to_data_url) %>
  </div>

  <hr>

  <h4>DESTINATÁRIO</h4>
  <ul class="address">
    <li><%= shipment.recipient_first_name %> <%= shipment.recipient_last_name %></li>
    <li><%= shipment.recipient_street %>, <%= shipment.recipient_number %></li>
    <li><%= "#{shipment.recipient_complement}," if shipment.recipient_complement.present? %> <%= shipment.recipient_neighborhood %></li>
    <li><strong><%= shipment.recipient_zip %></strong> <%= shipment.recipient_city %> / <%= shipment.recipient_state %></li>

    <%= image_tag(Barby::Code128.new(shipment.recipient_zip.delete("^0-9")).to_image(xdim:2).to_data_url) %>
  </ul>

  <hr>

  <h4>REMETENTE</h4>
  <ul class="address sender-address">
    <li><%= shipment.sender_first_name %> <%= shipment.sender_last_name %></li>
    <li><%= shipment.sender_street %>, <%= shipment.sender_number %></li>
    <li><%= "#{shipment.sender_complement}," if shipment.sender_complement.present? %> <%= shipment.sender_neighborhood %></li>
    <li><strong><%= shipment.sender_zip %></strong> <%= shipment.sender_city %> / <%= shipment.sender_state %></li>
  </ul>
</div>
